/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    animation: fadeIn 1s ease-in-out;
}


h2 {
    text-align: center;
    color: #b80000;
    margin-bottom: 20px;
    font-size: 2rem;
    animation: slideUp 1s ease-out;
}

/* Form Styling */
form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    animation: formFadeIn 1s ease-out;
}

/* Input Field Styling */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 16px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    transition: border-color 0.3s ease;
}

/* Input Fields Focus Effect */
input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0254ef;
    outline: none;
}

/* Submit Button Styling */
input[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #0254ef;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

input[type="submit"]:hover {
    background-color: #0254ef;
    transform: scale(1.05);
}

/* Label Styling */
label {
    font-size: 1.2rem;
}

/* Animation for form */
@keyframes formFadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animation for slide up header */
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Fade-in animation for body */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 20px;
    }

    input[type="text"], input[type="password"], input[type="submit"] {
        padding: 10px;
    }
}
